
.signup-block {
  margin: auto;
  width: 50%;
  padding: 40px;
}

.example-card {
  margin: auto;
  width: 400px;
}

.example-full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.example-container > * {
  width: 100%;
}

.submit-block {
  margin-left: 20px;
  margin-bottom: 20px;
}
