<mat-toolbar color="primary">
  Demo
  <span class="tb-spacer"></span>

  <ng-template [ngIf]="!authService.isAuthenticated()">
    <div class="sign-link"><a mat-button routerLink="/signup">Register</a></div>
    <div class="sign-link"><a mat-button routerLink="/signin">Sign In</a></div>
  </ng-template>

  <ng-template [ngIf]="authService.isAuthenticated()">
      <!-- <div class="sign-link"><a mat-button routerLink="/main">Voting</a></div> -->
      <button mat-button (click)="onLogout()">Sign Out</button>
  </ng-template>

</mat-toolbar>
