<div class="signin-block" [hidden]="!showForm ">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Sign In</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="email" [(ngModel)]="userEmail" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="userPassword" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="submit-block">
      <button mat-raised-button color="primary" [disabled]="!formValid" (click)="onSignIn()">Submit</button>
    </div>
  </mat-card-actions>
</mat-card>
</div>

<div class="signin-block" [hidden]="!showSuccess">
  <mat-card class="example-card">
    <mat-card-content>
      <div class="example-container">
        <h3>Signing In Success</h3>
        <div [hidden]="!showfinishEmail">
          <p>An email with the link to the voting application has been sent to {{userEmail}}. (uner develpment) </p>
        </div>
        <a mat-button color="primary" routerLink="/main">Link to vote</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="signin-block" [hidden]="!showFailure">
  <mat-card class="example-card">
    <mat-card-content>
      <div class="example-container">
        <h3>Signing In Failure</h3>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="signin-block" [hidden]="!showProgress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
